* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

header {
    height: 70px;
    background-color: #146da8;
    display: flex;
    padding: 0 100px;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

header h1 {
    color: white;
    line-height: 70px;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    display: inline-block;
    text-decoration: none;
    color: white;
    height: 70px;
    line-height: 70px;
    padding: 0 25px;
}

nav ul li a:hover {
    background-color: black;
}

.content section {
    min-height: 100vh;
    background-color: whitesmoke;
    margin: 20px 0;
    padding: 70px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Gaya untuk tabel */
table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: white;
}

table, th, td {
    border: 1px solid #146da8;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #146da8;
    color: white;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #146da8;
    color: whitesmoke;
    height: 64px;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
    }
    header h1 {
        line-height: normal;
    }
    nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    nav ul li {
        margin: 10px 0;
    }
}
